<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <style>
        fieldset > div { margin: 5vh; }
        .fieldError {
            color : red;
        }
        .correct {
            color : green
        }
        #main {
            height: auto;
            min-height: 100%;
            padding-bottom: 120px;
        }
        div > ul > li > ul > li > a[href]:active {
            background-color: black;
        }
        .clickList > li > a[href]:active {
            background-color: black;
        }
        .location {
            position: sticky;
            top: 0px;
            z-index: 100;
        }
    </style>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Shoes Story</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" />
  <script th:if="${param.status}">alert("상품 수정이 완료되었습니다.")</script>
</head>
<body style="font-family: 'Noto Sans KR', sans-serif;">
<nav class="location navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a th:text="#{page.title}" class="navbar-brand" href="/admin">슈즈 스토리</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/admin" th:text="#{page.home}">홈</a></li>
        <li class="nav-item"><a class="nav-link active" href="#!" th:onclick="|location.href='@{/itemList}'|">상품목록</a></li>
        <li id="no" class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>카테고리</strong></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/items?q=운동화" th:text="#{sneakers.search}">운동화</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/items?q=구두" th:text="#{highShoes.search}">구두</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/items?q=슬리퍼" th:text="#{slipper.search}">슬리퍼</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/items?q=부츠" th:text="#{boots.search}">부츠</a></li>
          </ul>
        </li>
        <form class="m-auto" action="/items" method="get">
          <input style="border-radius: 5px" type="search" autofocus placeholder="검색어를 입력하세요" name="q">
        </form>
      </ul>
    </div>
    <li style="list-style: none;" class="nav-item dropdown">
      <a th:text="#{adminPage.button}"style= "color: var(--bs-body-color)" id="dropDown" class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false" role="button"><b>관리자페이지</b></a>
      <ul class="dropdown-menu clickList" aria-labelledby="dropDown">
        <li><a class="dropdown-item" href="/admin/items" th:text="#{allItem.info}">전체 상품 정보</a></li>
        <hr class="dropdown-divider" />
        <li><a class="dropdown-item" href="/admin/users" th:text="#{allUser.info}">전체 회원 정보</a></li>
        <hr class="dropdown-divider" />
        <li><a class="dropdown-item" href="/admin/orders" th:text="#{allUser.order}">전체 주문 정보</a></li>
        <hr class="dropdown-divider" />
        <li><a class="dropdown-item" href="/admin/reviews" th:text="#{allReview.info}">전체 리뷰 정보</a></li>
      </ul>
    </li>
    <a th:text="#{logOut.button}"style= "color: var(--bs-body-color)" class="nav-link active" href="#!"  aria-current="page" th:onclick="|location.href='@{/logout}'|"><b>로그아웃</b></a>
  </div>
</nav>
<div class="container" id="main">
  <form style="width: auto; height: auto;" enctype="multipart/form-data" role="form" th:action='@{/admin/item/edit}' th:object="${itemEditDto}"
        method="post">
    <h1 style="text-align: center; margin: 5vh;">상품 수정</h1>
    <fieldset style="width: 50%; margin: auto; height: auto;">
      <div class="form-group">
        <label th:for="itemName">상품 이름</label>
        <input type="text" th:field="*{itemName}" class="form-control"
               placeholder="상품 이름을 입력하세요." required>
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:value="${itemSize}" th:name="itemSize">
        <input type="hidden" th:field="*{filePath}">
        <div class="fieldError" th:errors="*{itemName}"></div>
      </div>
      <div class="form-group">
        <label th:for="itemDetail">상품 설명</label>
        <input type="text" th:field="*{itemDetail}" class="form-control" th:errorclass = "fieldError"
               placeholder="상품 설명을 입력하세요" required>
        <span id="passwordError"></span>
        <div class="fieldError" th:errors="*{itemDetail}"></div>
      </div>
      <div class="form-group">
        <label th:for="size">상품 사이즈 (수정하는 사이즈가 기존에 존재하는 사이즈일 경우 새로운 값으로 덮어 쓰여집니다) </label>
        <input type="text" th:field="*{size}" class="form-control"
               placeholder="상품 사이즈를 입력하세요" required onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
        <div class="fieldError" th:errors="*{size}"></div>
      </div>
      <div class="form-group">
        <label th:for="stockQuantity">상품 재고</label>
        <input type="text" th:field="*{stockQuantity}" class="form-control"
               placeholder="상품 재고를 입력하세요" required onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
        <div class="fieldError" th:errors="*{stockQuantity}"></div>
      </div>
      <div class="form-group">
        <label th:for="price">상품 가격</label>
        <input type="text" th:field="*{price}" class="form-control" maxlength="13"
               placeholder="상품 가격을 입력하세요" required onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
        <div class="fieldError" th:errors="*{price}"></div>
      </div>
      <div class="form-group">
        <label th:for="itemCategory">상품 카테고리</label>
        <select th:field="*{itemCategory}">
          <option th:value="SNEAKERS" th:selected="*{itemCategory}=='SNEAKERS'">스니커즈</option>
          <hr>
          <option th:value="SLIPPER" th:selected="*{itemCategory}=='SLIPPER'">슬리퍼</option>
          <hr>
          <option th:value="BOOTS" th:selected="*{itemCategory}=='BOOTS'">부츠</option>
          <hr>
          <option th:value="HIGH_SHOES" th:selected="*{itemCategory}=='HIGH_SHOES'">하이힐</option>
        </select>
      </div>
      <div class="form-group">
        <label th:for="filePath">현재 이미지</label>
        <div>
        <img style="width: 40%; height: 40%;"th:id="filePath"  th:src="*{filePath}">
        </div>
        <div class="fieldError" th:errors="*{filePath}"></div>
      </div>
      <div class="form-group">
        <label th:for="imageFile">이미지 변경사항이 없을 시 선택하지 않아도 됩니다.</label>
        <input type="file" class="form-control" th:id="imageFile" name="imageFile">
      </div>
      <div style="text-align: center; margin: 0vh;">
        <button style="color: white; background-color: black; border-color: black;" class="btn">Submit</button>
      </div>
    </fieldset>
  </form>
  <br>
</div>
<footer class="py-5 bg-dark" style="position: relative;">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Shoes Story</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>