<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Shoes Story</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../css/styles.css" rel="stylesheet" />
</head>
<style>
  .main {
      height: auto;
      min-height: 100%;
      display: flex;
      background-color: #DCDCDC;
      margin: auto;
      margin-top: 3%;
      margin-bottom: 4%;
      width: 70%;
      flex-direction: column;
  }
  .inside {
      display:flex;
      justify-content: space-between;
      padding: 1%;
      background-color: white;
      margin: 2%;
      align-items: center
  }

  div > ul > li > ul > li > a[href]:active {
      background-color: black;
  }
  .clickList > li > a[href]:active {
      background-color: black;
  }
  .location {
      position: sticky;
      top: 0px;
      z-index: 100;
  }
</style>
<body style="height: 70%; font-family: 'Noto Sans KR', sans-serif;">
<nav class="location navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a th:text="#{page.title}" class="navbar-brand" href="/">슈즈 스토리</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/" th:text="#{page.home}">홈</a></li>
        <li class="nav-item"><a class="nav-link active" href="#!" th:onclick="|location.href='@{/itemList}'|">상품목록</a></li>
        <li id="no" class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>카테고리</strong></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/items?q=운동화" th:text="#{sneakers.search}">운동화</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/items?q=구두" th:text="#{highShoes.search}">구두</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/items?q=슬리퍼" th:text="#{slipper.search}">슬리퍼</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/items?q=부츠" th:text="#{boots.search}">부츠</a></li>
          </ul>
        </li>
        <form class="m-auto" action="/items" method="get">
          <input style="border-radius: 5px" type="search" autofocus placeholder="검색어를 입력하세요" name="q">
        </form>
      </ul>
    </div>
    <a th:text="#{login.button}"style= "color: var(--bs-body-color); border" class="nav-link active" aria-current="page" href="#!" th:onclick="|location.href='@{/login}'|" th:if="${loginUser} == null"><b>로그인</b></a>
    <li style="list-style: none;" class="nav-item dropdown">
      <a th:text="#{myPage.button}"style= "color: var(--bs-body-color)" id="dropDown" class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false" role="button" th:unless="${loginUser} == null"><b>마이페이지</b></a>
      <ul class="dropdown-menu clickList" aria-labelledby="dropDown">
        <li><a class="dropdown-item" href="/userInfo" th:text="#{user.info}">회원 정보</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="/cart" th:text="#{user.cart}">장바구니</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="/orderPage" th:text="#{user.order}">주문 정보</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="/orderInfo" th:text="#{user.delivery}">배송 정보</a></li>
      </ul>
    </li>
    <a th:text="#{signUp.button}"style= "color: var(--bs-body-color)" href="#!" class="nav-link active" aria-current="page" th:onclick="|location.href='@{/addUser}'|" th:if="${loginUser} == null"><b>회원가입</b></a>
    <a th:text="#{logOut.button}"style= "color: var(--bs-body-color)" class="nav-link active" href="#!" aria-current="page" th:onclick="|location.href='@{/logout}'|" th:unless="${loginUser} == null"><b>로그아웃</b></a>
  </div>
  <form class="d-flex" action="/cart">
    <button class="btn btn-outline-dark" type="submit" onclick="|location.href='@{/cart}'|">
      <i class="bi-cart-fill me-1"></i>
      장바구니
    </button>
  </form>
</nav>
<h2 style="text-align: center; margin-top: 3%;"><i class="bi-cart-fill me-1"></i>  장바구니</h2>
<div class="main">
  <div th:each="cartItem: ${cartItems}">
    <form method="post" th:action="@{/cart/delete?id={id}(id = ${cartItem.id})}" class="inside" th:object="${cartItem}">
    <img style="height: 10vh;" th:src="*{filePath}" alt="...">
    <div>이름: <span th:text="*{itemName}"></span></div>
    <div>사이즈: <span th:text="*{size}" ></span></div>
    <div>수량: <span th:text="*{orderAmount}" ></span>개</div>
    <div>총 가격: <span th:text="${cartItem.price} * ${cartItem.orderAmount}"></span>원</div>
    <button class="btn btn-outline-dark bg-dark text-white" onclick="this.parentElement.style.display='none'" type="submit">x</button>
    </form>
  </div>
</div>
<div style="width: 70%; margin: auto; margin-bottom: 4%; ">
<hr>
<div style="width: 70%; margin: auto; display: flex; justify-content: space-between;">
  <h3 class="writePrice" style="text-align: right"></h3>
  <button class="btn btn-outline-dark bg-dark text-white" type="submit" th:onclick="|location.href='@{/orderPage}'|">주문하기</button>
</div>
<hr>
</div>
<footer class="py-5 bg-dark" style="position: relative;">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Shoes Story</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script th:inline="javascript">
  window.onload = function() {
      var totalPrice = 0;
      [# th:each="cartItem : ${cartItems}"]
      totalPrice += [[${cartItem.Price} * ${cartItem.OrderAmount}]];
      [/]
      $(".writePrice").html("총 상품 금액: " + totalPrice + "원");
  }
</script>
</body>
</html>